@model AFS.Payment.Models.WelcomeModel
@{
    ViewBag.Title = "Simplified payment";
}

<div class="jumbotron">
    <h1>
        Simplified payment <img class="commercial-pict-big" src="../../Content/pict/devices.png">
    </h1>
</div>
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Order", "Payment", FormMethod.Post, new {@class = "toOrderForm"}))
        {
            @Html.HiddenFor(m => m.OrderId)
            @Html.HiddenFor(m => m.DateOfBirthString)
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <label>To continue with the payment enter your date of birth</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" id="dtp">
                    <input type="text" class="form-control" placeholder="Date of birth">
                    @Html.ValidationMessageFor(m => m.DateOfBirthString)
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Order details</button>
                </div>
                
            </div>
        }
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>
            <img class="commercial-pict" src="../../Content/pict/secure.png"> Secure
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus ornare posuere.
            Aliquam in felis ex. Sed aliquet risus in ornare dictum. Nunc posuere,
            mauris in mattis scelerisque, mi mi luctus eros, vitae semper ipsum nisi ut ligula.
            Donec nec mauris volutpat, pulvinar ante nec, pellentesque velit.
        </p>
        <p>
            <a class="btn btn-light" href="http://arvato.ee/" target="_blank">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            <img class="commercial-pict" src="../../Content/pict/reliable.png"> Reliable
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a neque sit amet mi pretium auctor.
            Integer ac ex id ex venenatis suscipit. Integer vitae consectetur quam, ac eleifend magna.
            Nullam bibendum lectus venenatis nibh rutrum, vitae congue nisl gravida.
            Quisque sodales mauris quis massa feugiat, at blandit ante fermentum.
        </p>
        <p>
            <a class="btn btn-light" href="http://arvato.ee/" target="_blank">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            <img class="commercial-pict" src="../../Content/pict/dynamic.png"> Dynamic
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer tincidunt sapien aliquam turpis pretium, sed fermentum arcu fringilla.
            Proin blandit ante sit amet pretium placerat. Quisque ornare odio eget magna tempor commodo.
            Aenean ultricies est vel placerat efficitur. Donec maximus cursus nibh, sit amet malesuada ligula consectetur sed.
            Pellentesque pretium porta lacus et venenatis. Fusce bibendum libero a augue sodales commodo.
        </p>
        <p>
            <a class="btn btn-light" href="http://arvato.ee/" target="_blank">Learn more &raquo;</a>
        </p>
    </div>
</div>

@section CustomScripts
{
    <script>
        $(document).ready(function() {
            var dtp = $('#dtp input').datepicker({
                format: 'dd.mm.yyyy',
                autoclose: true
            });
            dtp.on('changeDate',
                function(e) {
                    $('#DateOfBirthString').val(Date.parse(e.date));
                });
            $(".toOrderForm").data("validator").settings.ignore = "";
        });
    </script>
}